Source: ros-humble-behaviortree-cpp
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), git, libsqlite3-dev, libtinyxml2-dev, libzmq3-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-index-cpp, ros-humble-rclcpp, ros-humble-ros-environment, ros-humble-tinyxml2-vendor, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-behaviortree-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsqlite3-dev, libtinyxml2-dev, libzmq3-dev, ros-humble-ament-index-cpp, ros-humble-rclcpp, ros-humble-tinyxml2-vendor, ros-humble-ros-workspace
Description: This package provides the Behavior Trees core library.
