Source: ros-jazzy-behaviortree-cpp
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libsqlite3-dev, libzmq3-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-index-cpp, ros-jazzy-rclcpp, ros-jazzy-ros-environment, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-behaviortree-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsqlite3-dev, libzmq3-dev, ros-jazzy-ament-index-cpp, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: This package provides the Behavior Trees core library.
